{% extends "vault/base.html" %}

{% load static %}

{% block title %}
Vaults
{% endblock %}

{% block content %}
<div align = "center">
	<div style = "width:40%;" class = "mb-4">
		<form id = "searchForm">
			<div class = "input-group">
				<input type = "text" name = "search" class = "form-control" id = "searchWord">
				<div class = "input-group-append">
					<input type = "submit" class = "btn btn-success">
				</div>
			</div>
		</form>
	</div>
	<div>
		<h5>Search Results for <i>{{word}}</i></h5>
	</div>
	<div>
		{% for vault in search %}
			<div class = "vault-container" align = "left">
				<p class = "vault-title">{{vault.title}}</p>
				<hr>
				<div>
					<button class = "btn btn-success" disabled >{{vault.category}}</button>
					<button class = "btn btn-success" disabled >{{vault.date_created}}</button>
					<button class = "btn btn-success" disabled >{{vault.last_edited}}</button>
					<a href = "{% url 'vault:detail' vault.pk %}" class = "btn btn-primary text-light">View Vault</a>
				</div>
			</div>
		{% endfor %}

	</div>
</div>
{% endblock %}

{% block js %}
<script src = "{% static 'vault/js/search.js' %}"></script>
{% endblock %}
