{% extends "vault/base.html" %}

{% block title %}
Vaults
{% endblock %}

{% block content %}
<div align = "left">
	<div>
		<h4 style = "margin-bottom: 1.5%;display:inline-block" class = "text-success">Vault Settings</h4>
		<hr>
		<div style = "width: 45%">
			<span>Master Password</span>
			<input type = "password" class = "form-control" id = "master-password">

			<div class = "mt-3">
				<span class = "">Dark Mode <i class = "text-danger">(Feature coming soon)</i></span>
			</div>

			<div class = "mt-4">
				<button type = "button" class = "btn btn-success" id = "update-vault-btn">Update Settings</button>
			</div>
		</div>

		<div class = "mt-4">
			<small class = "text-danger">If you do not want to use Master Password, Just leave the field empty.</small>

		</div>
	</div>
</div>
{% endblock %}

{% block js%}
{% endblock %}
