@import url('/static/vault/css/normalize.css');

:root{
	--light_green_bg: #38a806;
	--red:  #850606;
	--blue: #2e6ced;
}

.container{
	display: grid;
	grid-template-areas: 
		"header header"
		"sidebar content"
		"footer footer";
	grid-template-columns:  20% 2fr;
	grid-gap: 20px;
}

.header{
	grid-area: header;
	background-color: #38a806;
	color: white;
}

.header {
	display: flex;
}

.header div{
	flex: 1;
	padding: 5px;
	align-items: center;
}

.sidebar{
	grid-area: sidebar;
	background-color: #f3f3f3;
	text-align-center
	
}

.content{
	grid-area: content;
}

.footer{
	grid-area: footer;
}

button, a.green-bg, .btn{
	padding: 10px;
	border-radius: 10px;
	border: none;
	outline: none;
	text-decoration: none;
	cursor: pointer;
}

.sidebar{
	height: 100vh;
	position: absolute;
	width: 200px;
}

.sidebar ul{
	margin-inline-start: 0;
	list-style-type:  none;
	padding-inline-start: 0;
}

.sidebar ul li{
	margin-bottom: 20px;
	background-color: #38a806;
	margin-bottom: 5%;
	padding: 5%;
	text-align: center;
	width: 60%;
}

.sidebar ul li a{
	text-decoration: none;
	color: white;
	font-size: 1rem;
}

.vault-container{
	width: 80%;
	background-color: #f3f3f3;
	border-radius: 15px;
	padding: 15px;
	margin-bottom: 3%;
}

.vault-title{
	font-weight: 300;
	font-size: 1.1rem;
}

.green-bg{
	background-color: var(--light_green_bg);
	color: white;
}

.bg-red{
	color: white;
	background-color: var(--red);
}

.bg-blue{
	color: white;
	background-color: var(--blue);
}

.add-btn-container{
	height:100px;
	width:100px;
	box-shadow:5px 5px 10px lightgrey;
	position:fixed;
	z-index:100;
	right:5%;
	bottom: 5%;
	border-radius:50%;
	margin: 0 auto;
}

.add-btn-container span{
	height: 100px;
	width: 100px;
	font-size:2em;
	color: green;
}

.add-btn{
	height: 100%;
	width: 100%;
	padding-top:35px;
	padding-bottom:35px;
}

.add-btn:hover{
	cursor: pointer;
}

.message-center{
	padding:  20px;
	position: fixed;
	bottom: 5%;
	left: 5%;
	background-color: lightgrey;
}

.message-center p{
	margin: 0;
}
